<a href="https://colab.research.google.com/github/JeromeMberia/user_review_analysis/blob/main/user_review_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/user_review_data.csv")
df.head()

                                         review_body  star_rating
0  Good luck finding a reasonably priced band rep...            1
1  No i get dark on the first week with me!! I wi...            1
2  I dont know if mine was a mistake but it clear...            1
3  The rod that holds the bracelet broke several ...            1
4  I bought 2 watches , one watch doesnot work at...            1

In [ ]:
df.head()

                                         review_body  star_rating
0  Good luck finding a reasonably priced band rep...            1
1  No i get dark on the first week with me!! I wi...            1
2  I dont know if mine was a mistake but it clear...            1
3  The rod that holds the bracelet broke several ...            1
4  I bought 2 watches , one watch doesnot work at...            1

In [ ]:
df.tail()

                                             review_body  star_rating
14995  I have a TAG Heuer carrera twin time watch, wh...            5
14996  It is hard sometimes to judge a product by its...            5
14997  reloj en perfecto estado llego todo a tiempo l...            5
14998  This is my third ironman.  There are more expe...            5
14999                                  i use it everyday            5

In [ ]:
df.shape

(15000, 2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_body  15000 non-null  object
 1   star_rating  15000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 234.5+ KB

In [ ]:
df['review_body'].sample(n=10, random_state=610)

3293     The delivery was prompt. I got the correct pro...
5328                                    not silent running
13737                                         good quality
3751     not happy<br /><br />  the band is very stiff ...
14280                                            Excellent
7552                 A backlight would be a useful feature
13104    So far so good with this product. My fianc√©e i...
11599    This is a nice watch, however it is a little h...
6004     IT IS OK. SEEMS TO BE A GOOD QUALITY. I RECOME...
2401     Similar to this watch. Undelivered to this dat...
Name: review_body, dtype: object

In [ ]:
df.columns

Index(['review_body', 'star_rating'], dtype='object')

In [ ]:
df.duplicated().sum()

439

In [ ]:
df.isnull().sum()

review_body    0
star_rating    0
dtype: int64

In [ ]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [ ]:
# remove other languages

hi