<a href="https://colab.research.google.com/github/JeromeMberia/user_review_analysis/blob/main/user_review_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import string

In [2]:
#uploading and readin the dataset
data = pd.read_csv("/content/user_review_data.csv")
data.head()

                                         review_body  star_rating
0  Good luck finding a reasonably priced band rep...            1
1  No i get dark on the first week with me!! I wi...            1
2  I dont know if mine was a mistake but it clear...            1
3  The rod that holds the bracelet broke several ...            1
4  I bought 2 watches , one watch doesnot work at...            1

In [3]:
#checking the top 5 rows
data.head()

                                         review_body  star_rating
0  Good luck finding a reasonably priced band rep...            1
1  No i get dark on the first week with me!! I wi...            1
2  I dont know if mine was a mistake but it clear...            1
3  The rod that holds the bracelet broke several ...            1
4  I bought 2 watches , one watch doesnot work at...            1

In [4]:
#checking the bottom 5 rows
data.tail()

                                             review_body  star_rating
14995  I have a TAG Heuer carrera twin time watch, wh...            5
14996  It is hard sometimes to judge a product by its...            5
14997  reloj en perfecto estado llego todo a tiempo l...            5
14998  This is my third ironman.  There are more expe...            5
14999                                  i use it everyday            5

In [5]:
#Getting the dataset shape.
data.shape

(15000, 2)

In [6]:
##Get the summary of this dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_body  15000 non-null  object
 1   star_rating  15000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 234.5+ KB

observation: our dataset comprise of object and integer datatype. both colunms has 15000 values, this is a clue of no missing values.

In [7]:
#checking the body_review variable values
data['review_body'].sample(n=10, random_state=610)

3293     The delivery was prompt. I got the correct pro...
5328                                    not silent running
13737                                         good quality
3751     not happy<br /><br />  the band is very stiff ...
14280                                            Excellent
7552                 A backlight would be a useful feature
13104    So far so good with this product. My fiancée i...
11599    This is a nice watch, however it is a little h...
6004     IT IS OK. SEEMS TO BE A GOOD QUALITY. I RECOME...
2401     Similar to this watch. Undelivered to this dat...
Name: review_body, dtype: object

observation: the values comprises of words, symbols, panctuations and so on.

In [8]:
#Using groupby will check the data
data.groupby('star_rating').describe()

            review_body  ...
                  count  ... freq
star_rating              ...
1                  3000  ...    3
2                  3000  ...    4
3                  3000  ...    7
4                  3000  ...   11
5                  3000  ...    8

[5 rows x 4 columns]

In [9]:
#previewing the dataset variables
data.columns

Index(['review_body', 'star_rating'], dtype='object')

observation: the two colunms are, review_body, and star_rating.

## Pre processing the data

Here we will check for missing values, duplicates, outliers and remove any unnecessary variables/features/columns if any. other preprocessing procedures are tokenizing(spliting),stemming and lemmatization.

In [10]:
#checking for the missing values
data_corpus = data.copy()
data_corpus.head(10)

                                         review_body  star_rating
0  Good luck finding a reasonably priced band rep...            1
1  No i get dark on the first week with me!! I wi...            1
2  I dont know if mine was a mistake but it clear...            1
3  The rod that holds the bracelet broke several ...            1
4  I bought 2 watches , one watch doesnot work at...            1
5  This watch would have been fantastic, if it ha...            1
6  I have this watch. It looks and feels heavy du...            1
7  What the hell! I just got the watch today but ...            1
8  I am mechanically inclined but cannot get this...            1
9  It didnt work right out from the box. I had to...            1

observation: there is no missing values

In [11]:
#Checking for duplicates
data_corpus.duplicated().sum()

439

observation: there are 439 duplicates.

In [12]:
#dropping the duplicates
data_corpus.drop_duplicates(inplace=True)
#
#confirming no duplicates
data_corpus.duplicated().any()

False

observation: duplicates have been dropped.

observation, there are several panctuations.

In [13]:
import re
import string

def clean_text_round1(text):
  '''Remove HTML tags, remove punctuation, make text lowercase, remove punctuation and remove words containing numbers.'''
  text = re.sub('<.*?>','', text)
  text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
  text = text.lower()
  text = re.sub('\d', '', text)
  return text

fix = lambda x: clean_text_round1(x)
data_corpus['review_body'] = pd.DataFrame(data_corpus.review_body.apply(fix))
data_corpus

                                             review_body  star_rating
0      good luck finding a reasonably priced band rep...            1
1      no i get dark on the first week with me i will...            1
2      i dont know if mine was a mistake but it clear...            1
3      the rod that holds the bracelet broke several ...            1
4      i bought  watches  one watch doesnot work at a...            1
...                                                  ...          ...
14995  i have a tag heuer carrera twin time watch who...            5
14996  it is hard sometimes to judge a product by its...            5
14997  reloj en perfecto estado llego todo a tiempo l...            5
14998  this is my third ironman  there are more expen...            5
14999                                  i use it everyday            5

[14561 rows x 2 columns]